asyncio
asyncpg
cleantext
codecarbon
currencyconverter
databases
fastapi
keybert
mariadb
numpy
pandas
polars==0.20.7
psycopg2-binary
pydantic
sentence_transformers
sqlalchemy
torch
typing
uvicorn
